APP_NAME=authStartGrowingUp
APP_ENV=development

LOG_LEVEL=debug
LOG_FORMAT=console
LOG_OUTPUT_PATHS=stdout
LOG_ERROR_OUTPUT_PATHS=stderr
LOG_DISABLE_CALLER=false
LOG_DISABLE_STACKTRACE=false

# LOG_SAMPLING_INITIAL=100
# LOG_SAMPLING_THEREAFTER=100
